{{ ansible_managed | comment }}

client
tls-client
pull
dev tun
proto {{ openvpn_client_protocol }}
remote {{ openvpn_client_server }} {{ openvpn_client_protocol_port }}
resolv-retry infinite
nobind
dhcp-option DNS 8.8.8.8
user nobody
group {{ openvpn_group }}
persist-key
persist-tun
comp-lzo
auth-user-pass {{ openvpn_username }} {{ openvpn_password }}
verb 3
auth SHA512
ca /etc/openvpn/client/ca.crt
key-direction 1
tls-auth /etc/openvpn/client/ta.key 1
